body {
    font-family: Arial, sans-serif;
}


button {
background-color: rgb(153, 238, 227);
width: 100px;
height: 30px;
border:none;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

#divMainContent{
    width: auto;
    height: 100px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    margin-top: 30px;
    align-content: center;
}


#lblError{
    color: red;
}

#lblNotFound{
    color: green;
}